<div class="container2">
    <a class="buttons2" href = "/feed">Feed</a>
    <a class="buttons2"  href = "/">Play</a>
    <a class="buttons2" href = "/">Work</a>
    <a class="buttons2" href = "/">Sleep</a>
</div>
